.nav-container{
  background: #000;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,...'); /* Use this if you need to change the icon color */
}

.navbar-brand{
  color: #fff;
}

.navbar-brand img{
  width: 50px;
  height: 50px;
}

.navbar {
  padding: 1rem 2rem;
  background: var(--background-color);
}

@media (max-width: 1200px) {
  .navbar {
    margin: 0;
  }
}
.nav-link {
  color: white;
  margin-right: 30px;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  color: var(--main-color);
  cursor: pointer;
}

.signup {
  background: var(--main-color);
  border-color: var(--main-color);
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 18px;
}

.signup:hover {
  background-color: var(--main-color-hover);
  border-color: var(--main-color-hover);
  cursor: pointer;
}

.signup img {
  margin-right: 8px;

}


